*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6f9;
    color:#333;
    line-height:1.6;
}

header{
    background:#2563eb;
    color:white;
    text-align:center;
    padding:40px 20px;
}

section{
    background:white;
    max-width:900px;
    margin:20px auto;
    padding:25px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

h2{
    color:#2563eb;
    margin-bottom:15px;
}

ul{
    margin-left:20px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

#hasil{
    margin-top:15px;
    font-weight:bold;
    color:green;
}

footer{
    text-align:center;
    padding:20px;
    background:#111827;
    color:white;
    margin-top:30px;
}